/* Archivo SCSS */

$page-title: 'Pinyon Script', cursive;
$page-description: 'Yellowtail', cursive;

a {
  &:visited {
    color: $primary-color;
  }
}

.byline {
  display: inline;
}

.separator::after {
  background-image: url( '../images/separator.png' );
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  display: block;
  margin: 0 auto;
  height: rem-calc( 10 );
  width: rem-calc( 50 );
}

header {
    .header-image {
        background-position: center center;
        background-repeat: no-repeat;
        height: 376px;

        .site-branding {
            padding-top: rem-calc( 120 ); /* rem-calc(): función de 'Foundation' que converte pixeles a rem */

            h1 {
              &.site-title {
                font-family: $page-title;
              }
            }

            p {
              &.site-description {
                font-family: 'Yellowtail', cursive;
                font-size: rem-calc( 30 );
                /* Las siguientes 3 líneas reemplazan text-decoration: underline; y permiten una mejor personalización */
                border-bottom: 1px solid $white;
                display: inline-block;
                line-height: 40px;
              }
            }

            a,
            p {
                color: $white;
            }
        }
    }
    nav {
        &.main-navigation{
            background-color: $primary-color;

            /* Agregamos un Mixin de Foundation para crear un 'breakpoint' para cambiar
             * Los estilos cuando se redimensione la ventana del navegador a un tamaño
             * específico */
            @include breakpoint( medium ) {
                .title-bar {
                  display: none;
                }
            }

            .menu-icon {
              /* Agregamos un Mixin de Foundation para crear un menú hamburguesa
               * los parametros son:
               * Color, Color Hover, Ancho del botón, Alto del Botón, Grosor de las barras, Cantidad de barras
               */
              @include hamburger( $white, $white, 30px, 20px, 4px, 3 );
              box-shadow: none;
            }

            ul {
                @include breakpoint( medium ) {
                    display: flex;
                }
                li {
                    float: none;

                    a {
                        color: $white;
                        font-weight: bold;
                        padding: rem-calc( 20 0 ) !important; /* 10px (Arriba/Abajo) 0px (Derecha/Izquierda)
                                                                 Al agregarle !important se redimensiona el menú
                                                                 adecuadamente al agrandar o reducir la ventana
                                                                 del navegador (Firefox no funciona hay que recargar) */
                        transition: background-color 0.5s ease;

                        &:hover {
                            background-color:  darken( $primary-color, 10 );
                        }

                        i {
                            font-size: rem-calc( 20 );
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

/* Page: index.php
 * Últimas Recetas
 */
 #content {
   margin-top: rem-calc( 30 );

  div {
    &.entry-meta {
      i {
        font-size: rem-calc( 24 );
      }
      a {
        color: $black;
      }
    }
  }

   h2 {
     &.ultimas-recetas {
       margin-bottom: rem-calc( 30 );
       @extend .separator;  /* Hereda de la clase 'separator' */
     }
     &.entry-title {
       font-size: rem-calc( 24 );

       a {
         color: $black;
       }
     }
   }

   div {
     &.entry-content {
       margin-top: rem-calc( 18 );

       a {
          display: table;

         &.button {
           font-weight: bold;
           margin-top: rem-calc( 20 );
           text-transform: uppercase;

           &:visited {
             color: $white;
           }
         }
       }
     }
   }
 }
/* --- ASIDE --- */
aside {
  h2 {
    &.widget-title {
      @extend .separator;
    }
  }
}
